<mat-toolbar style="position: sticky">
  <div>
    <img class="logo" src="logo.png" alt="logo" routerLink="/"/>
  </div>
  <div [matMenuTriggerFor]="menu">
    <mat-icon >person</mat-icon>
    <h2 >{{ data?.Username ?? '' }}</h2>
    <mat-menu class="layout-menu" #menu="matMenu">
      <button mat-menu-item><mat-icon>help</mat-icon>Ayuda</button>

      @if (!data) {
        <button (click)="login()" mat-menu-item><mat-icon>login</mat-icon>Abrir Sesión</button>
      } @else {
        <button (click)="logout()" mat-menu-item><mat-icon>logout</mat-icon>Cerrar Sesión</button>
      }

    </mat-menu>
  </div>
</mat-toolbar>
