<div class="eco-metrics-div">
  <div>
    <mat-form-field appearance="outline" >
      <mat-label>Rango de fechas</mat-label>
      <mat-date-range-input [formGroup]="dateRangeForm" [rangePicker]="picker">
        <input (dateChange)="applyFilter()" matStartDate [formControl]="dateRangeForm.controls.start" placeholder="Start date">
        <input (dateChange)="applyFilter()" matEndDate [formControl]="dateRangeForm.controls.end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/AAAA – MM/DD/AAAA</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      @if (dateRangeForm.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>fecha inicial invalida</mat-error>
      }
      @if (dateRangeForm.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>fecha final invalida</mat-error>
      }
    </mat-form-field>
  </div>

<div class="chart">
  <ngx-charts-line-chart
    xAxisLabel="Fecha"
    yAxisLabel="Ganancias"
    [legendPosition]="LegendPosition.Below"
    [showGridLines]="true"
    [legend]="true"
    [showRefLabels]="true"
    [legendTitle]="metrics.name + ': ' + metrics.value"
    [xAxis]="true"
    [yAxis]="true"
    [timeline]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [autoScale]="true"

    [results]="metrics.series"
  >
  </ngx-charts-line-chart>

</div>

</div>
