
<div class="third-products-page">

  <div class="button-actions">
    <button mat-stroked-button (click)="onCreationMode = !onCreationMode">{{onCreationMode ? 'cerrar formulario de creación' : 'abrir formulario de creación'}}</button>
  </div>

  @if (onCreationMode) {
    <div class="product-creation">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="ingredientForm.controls.name" maxlength="40">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Unidad</mat-label>
        <input matInput [formControl]="ingredientForm.controls.ingredientUnit" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio de compra por unidad</mat-label>
        <input type="number" matInput [formControl]="ingredientForm.controls.unitPrice">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Precio de venta por unidad</mat-label>
        <input type="number" matInput [formControl]="ingredientForm.controls.sellPrice">
      </mat-form-field>
      <div>
        <button mat-flat-button (click)="createIngredient()">Crear Ingrediente</button>

      </div>
    </div>
  }
  <div class="button-actions">
    <button mat-stroked-button (click)="tableView = !tableView">{{tableView ? 'cambiar a mosaico' : 'cambiar a tabla'}}</button>
  </div>

  @if (tableView) {
    <div class="searcher">
      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)"  #input>
      </mat-form-field>
    </div>
    <div class="table-container">
      <table class="table-products" mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="ingredientUnit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
          <td mat-cell *matCellDef="let row"> {{row.ingredientUnit}}</td>
        </ng-container>
        <ng-container matColumnDef="unitPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio de compra por unidad </th>
          <td mat-cell *matCellDef="let row"> {{row.unitPrice}} Bs </td>
        </ng-container>
        <ng-container matColumnDef="sellPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio de venta por unidad </th>
          <td mat-cell *matCellDef="let row"> {{row.sellPrice}} Bs </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
          <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef > Eliminar </th>
          <td mat-cell (click)="deleteIngredient(row.id)" *matCellDef="let row"><mat-icon>delete</mat-icon></td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef > Editar </th>
          <td mat-cell (click)="editIngredient(row)" *matCellDef="let row"><mat-icon>edit</mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay productos con: "{{input.value}}"</td>
        </tr>
      </table>

    </div>
    <mat-paginator class="table-products" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecciona pagina"></mat-paginator>

  } @else {
    <div class="searcher">
      <mat-form-field appearance="outline" >
        <mat-label>Buscar por nombre</mat-label>
        <input type="text" [formControl]="filterName" matInput (keyup)="filter()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="products-div">
      @if (ingredients.length < 1) {
        <h2>No hay productos de terceros creados aún</h2>
      }
      @for (ingredient of filteredIngredient; track $index) {
        <mat-card  class="products-card">
          <mat-card-header>
            <mat-card-title>
              {{ingredient.name}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-footer>
            <h4>Precio de compra: {{ingredient.unitPrice}} Bs/{{ingredient.ingredientUnit}}</h4>
            <h4>Precio de venta: {{ingredient.quantity}} </h4>
            <div class="button-actions">
              <button mat-icon-button (click)="deleteIngredient(ingredient.id)"><mat-icon>delete</mat-icon></button>
              <button mat-icon-button (click)="editIngredient(ingredient)"><mat-icon>edit</mat-icon></button>
            </div>
          </mat-card-footer>
        </mat-card>
      }
    </div>

  }

</div>
