
<div class="home-text">
  @if (userName()) {
  <h2>Bienvenido a su panel administrativo {{ userName() }}</h2>
  } @else {
    <h2>Inicie Sesion</h2>
  }
  <p>En este panel tendras acceso a las multiples funcionalidades para la gestion de inventario para la bodeha.</p>
</div>
<h2 class="home-text">Compra y Venta</h2>
<div class="home-grid">
  <button mat-stroked-button class="home-button" routerLink="/outputs">
    <mat-icon>shopping_cart</mat-icon>
    Ventas
  </button>
  <button mat-stroked-button class="home-button" routerLink="/inputs">
    <mat-icon>store</mat-icon>
    Compras
  </button>
</div>
<h2 class="home-text">Productos</h2>
<div class="home-grid">
  <button mat-stroked-button routerLink="/third-products" class="home-button">
    <mat-icon class="material-symbols-outlined">grocery</mat-icon>
    Productos de terceros
  </button>
  <button mat-stroked-button class="home-button" routerLink="ingredients">
    <mat-icon>grain</mat-icon>
    Ingedientes
  </button>
  <button mat-stroked-button class="home-button" routerLink="/homemade-products">
    <mat-icon class="material-symbols-outlined">oven_gen</mat-icon>
    Productos caseros
  </button>
</div>
<h2 class="home-text">Metricas</h2>
<div class="home-grid">
  <button mat-stroked-button class="home-button" routerLink="/outputs">
    <mat-icon class="material-symbols-outlined">finance_mode</mat-icon>
    Metricas economicas
  </button>
  <button mat-stroked-button class="home-button" routerLink="/inputs">
    <mat-icon>bar_chart_4_bars</mat-icon>
    Metricas de stock
  </button>
</div>
