
<div class="home-text">
  <h2>Bienvenido a su panel administrativo Carlos Zambrano</h2>
  <p>En este panel tendras acceso a las multiples funcionalidades para la gestion de inventario para la bodeha.</p>
</div>
<div class="home-grid">
  <button mat-stroked-button routerLink="/third-products" class="home-button">
    <mat-icon class="material-symbols-outlined">deployed_code_update</mat-icon>
    Productos de terceros
  </button>
  <button mat-stroked-button class="home-button" routerLink="ingredients">
    <mat-icon>store</mat-icon>
    Ingedientes
  </button>
  <button mat-stroked-button class="home-button" routerLink="/homemade-products">
    <mat-icon>store</mat-icon>
    Productos caseros
  </button>
  <button mat-stroked-button class="home-button">
    <mat-icon>store</mat-icon>
    Panaderia
  </button>
</div>
