<h2 mat-dialog-title>Editando "{{data.name}}"</h2>
<mat-dialog-content>
  <div class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="productForm.controls.name">
      @if (productForm.controls.name.hasError('required')) {
        <mat-error>El nombre es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Precio de compra</mat-label>
      <input type="number" min="0" matInput [formControl]="productForm.controls.inPrice" >
      <mat-hint>no se admiten negativos</mat-hint>
      @if (productForm.controls.inPrice.hasError('required')) {
        <mat-error>El precio de compra es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Precio de venta</mat-label>
      <input type="number" min="0" matInput [formControl]="productForm.controls.sellPrice">
      <mat-hint>no se admiten negativos</mat-hint>
      @if (productForm.controls.sellPrice.hasError('required')) {
        <mat-error>El precio de venta es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>
    <input #productUpload class="upload-product-image-input" type="file" accept=".png, .jpg" (change)="convertToBase64($event)"/>
    <button mat-stroked-button (click)="productUpload.click()" matIconSuffix>Subir imagen<mat-icon>upload</mat-icon></button>
    @if (image64) {
      <small>imagen subida exitosamente</small>
    }
    <div>
      <button mat-flat-button (click)="editProduct()">Editar Producto</button>
    </div>
  </div>

</mat-dialog-content>
