$primary: #78bf4f;
$secondary: #ebcbab;
$tertiary: #643319;
$background-secondary: #a2846b;
$background: #baCda5;

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $background;
}
