<h2 mat-dialog-title>Editando "{{data.name}}"</h2>
<mat-dialog-content>
  <div class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="ingredientForm.controls.name" maxlength="40">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Unidad de ingrediente</mat-label>
      <input type="number" matInput [formControl]="ingredientForm.controls.ingredientUnit" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Compra de venta</mat-label>
      <input type="number" matInput [formControl]="ingredientForm.controls.unitPrice">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Precio de venta</mat-label>
      <input type="number" matInput [formControl]="ingredientForm.controls.sellPrice">
    </mat-form-field>
    <div>
      <button mat-flat-button (click)="editProduct()">Editar Producto</button>
    </div>
  </div>

</mat-dialog-content>
